{{template "blog-page-layout"}}
<form action="/blog/postForm" method="post">
    <label for="title">Title of Article</label><br>
    <input type="text" id="title" name="title" ><br>
    <label for="article">Article</label><br>
    <textarea name="article" id="article"></textarea>
    <input type="submit" value="Submit">
</form>
