{{template "blog-page-layout"}}

{{range .}}

    <article class="blog-post">
        <h2 class="blog-post-title">{{.Title}}</h2>
        <p class="blog-post-meta">{{.CreatedAt}} <a >Mark</a></p>

        <p>{{.Content}}</p>
        <a href="/blog/edit/{{.Id}}" type="submit">Edit</a>
        <a href="/blog/delete/{{.Id}}" type="submit">Delete</a>
        <hr>
    </article>
{{end}}
{{template "footer"}}